
 body{
   background-image: url("../img/fondo2.jpg");
 }
 
#img{
  width: 400px;
  height: 400px;
}
p{
  text-align: center;
}
#navegacion{
  background-color: black;
  text-align: center;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-style: solid;
  border-top-style: solid;
  margin-left: 35%;
  margin-right: 15%;
  border-bottom-color: blue;
  border-bottom-width: 10px;
  border-top-width: 10px;
  border-top-color: blueviolet;
  text-align: center;
  font-size: 20px;
}
#der{
  float: right;
}
.gdt{
  font-size: 40px;
  font-weight: bold;
}
.t{
  color: azure;
}
.titulo{
  text-align: center;
}
.izquierda{
  margin-left: 37%;
  font-weight: bold;
  width: 700px;
}
.global {
  height: 500px;
  width: 900px;
  overflow: auto;
  color: white;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  background-color: black;
  border-bottom-color: red;
  border-bottom-style: solid;
}
.parrafo{
  float: right;
  font-size: 80%;
}
.complemento{
  width: auto;
  color:navy;
  background-color: palegoldenrod;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  float: right;
  font-weight: bold;
  width: 900px;
}
.redirecciona{
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: moccasin;
  font-size: 40px;
  font-weight: bold;
}
.verso{
  font-size: 15px;
  font-style: oblique;
  text-align: center;
}